<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Home</h1>
      <a href="{{ url_for('app1.home') }}">Back to Home</a>
  
       <a href="{{ url_for('app4.page') }}">Go to App4</a>
        <a href="{{ url_for('app3.page') }}">Go to App3</a>
          <a href="{{ url_for('app6.page') }}">Go to App6</a>
          <a href="{{ url_for('app5.page') }}">Go to App5</a>
             <a href="{{ url_for('app7.page') }}">Go to App7</a>
    <a href="{{ url_for('app2.logout') }}">Logout</a>
</body>
</html>